/**
*
* Basic page needs
*
**/
@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot");
  src: url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.woff") format("woff"), url("../fonts/PlayfairDisplayRegular/PlayfairDisplayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot");
  src: url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.woff") format("woff"), url("../fonts/PlayfairDisplayBold/PlayfairDisplayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hammersmithone";
  src: url("../fonts/Hammersmithone/HammersmithOne.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers (opinionated).
   */
body {
  margin: 0;
}

/**
   * Add the correct display in IE 9-.
   */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   * 1. Add the correct display in IE.
   */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
   * Add the correct margin in IE 8.
   */
figure {
  margin: 1em 40px;
}

/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * 1. Remove the gray background on active links in IE 10.
   * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
   */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
   * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
   */
b,
strong {
  font-weight: inherit;
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font style in Android 4.3-.
   */
dfn {
  font-style: italic;
}

/**
   * Add the correct background and color in IE 9-.
   */
mark {
  background-color: #ff0;
  color: #000;
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
audio,
video {
  display: inline-block;
}

/**
   * Add the correct display in iOS 4-7.
   */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Remove the border on images inside links in IE 10-.
   */
img {
  border-style: none;
}

/**
   * Hide the overflow in IE.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers (opinionated).
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
   *    controls in Android 4.
   * 2. Correct the inability to style clickable types in iOS and Safari.
   */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * 1. Add the correct display in IE 9-.
   * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
   * Remove the default vertical scrollbar in IE.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10-.
   * 2. Remove the padding in IE 10-.
   */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in IE 9-.
   * 1. Add the correct display in Edge, IE, and Firefox.
   */
details,
menu {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Scripting
     ========================================================================== */
/**
   * Add the correct display in IE 9-.
   */
canvas {
  display: inline-block;
}

/**
   * Add the correct display in IE.
   */
template {
  display: none;
}

/* Hidden
     ========================================================================== */
/**
   * Add the correct display in IE 10-.
   */
[hidden] {
  display: none;
}

/**
*
* Adjustment settings
*
**/
* {
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  width: 100%;
}

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: 'RobotoRegular', sans-serif;
  font-size: 14px;
}

.maincontent {
  -webkit-flex: 1 0;
      -ms-flex: 1 0;
          flex: 1 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 860px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 650px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: auto;
  }
}

.button {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px;
  width: 118px;
  height: 38px;
  border: 1px solid #00e0d0;
  border-radius: 2px;
  color: #00e0d0;
  background: none;
  font-family: 'Hammersmithone', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  transition: color .2s ease-in-out, border .2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .button {
    width: 112px;
    height: 32px;
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }
}

.button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .button:hover {
    border: 1px solid #00e0d0;
    color: #00e0d0;
  }
  .button:hover:active {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
}

.button--left {
  margin: 0;
}

@media screen and (max-width: 710px) {
  .button--left {
    margin: 0 auto;
  }
}

.button--long {
  width: 138px;
}

@media screen and (max-width: 768px) {
  .button--long {
    width: 125px;
  }
}

.button--white-background:hover {
  color: #413d4b;
  border: 1px solid #413d4b;
}

@media screen and (max-width: 768px) {
  .button--white-background:hover {
    border: 1px solid #00e0d0;
    color: #00e0d0;
  }
  .button--white-background:hover:active {
    color: #413d4b;
    border: 1px solid #413d4b;
  }
}

.section-title-wrap {
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  padding: 0;
  font-family: 'PlayfairDisplayBold', sans-serif;
  color: #413d4b;
  font-size: 22px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (max-width: 451px) {
  .section__title {
    font-size: 18px;
    letter-spacing: 0;
  }
}

.section__title--team {
  color: #ffffff;
}

.section__title--contact-us {
  margin-bottom: 35px;
}

.section__descr {
  color: rgba(47, 45, 53, 0.75);
  font-size: 14px;
  font-family: 'PlayfairDisplayRegular', sans-serif;
  position: relative;
  padding: 10px 0 20px 0;
  margin: 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 450px) {
  .section__descr {
    letter-spacing: 0;
    font-size: 13px;
  }
}

.section__descr:after, .section__descr:before {
  content: '';
  position: absolute;
  width: 4%;
  height: 2px;
  background: rgba(65, 61, 75, 0.3);
  bottom: 0;
}

.section__descr:before {
  right: 50%;
}

.section__descr:after {
  left: 50%;
}

.section__descr--team {
  color: #f9f9f9;
}

.section__descr--team:after, .section__descr--team:before {
  background: rgba(255, 255, 255, 0.2);
}

.hover-overlay-params {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(14, 180, 147, 0.9);
  padding: 20px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  background: rgba(0, 0, 0, 0.4);
}

.overlay--active {
  display: block;
}

.body-fixed {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/**
*
* Layout
*
**/
/***********
**Hero***
**********/
.hero {
  min-height: 670px;
  position: relative;
  background: url("../img/background.jpg");
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .hero {
    min-height: 620px;
  }
}

.hero__content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 225px;
}

@media screen and (max-width: 800px) {
  .hero__content {
    width: 100%;
  }
}

/***********
**Header***
**********/
.header {
  background: transparent;
  width: 100%;
}

@media screen and (max-width: 801px) {
  .header {
    padding: 20px 0;
  }
}

.inner-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.logo__link {
  display: block;
}

/***********
**Navigation***
**********/
.menu-btn {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media screen and (max-width: 801px) {
  .menu-btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav {
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  z-index: 99;
}

@media screen and (max-width: 801px) {
  .nav {
    will-change: transform;
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100vh;
    background: #00e0d0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@media screen and (max-width: 801px) {
  .nav--active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 801px) {
  .nav__list {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.nav__item:not(:last-child) {
  margin-right: 26px;
}

@media screen and (max-width: 801px) {
  .nav__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.nav__link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'RobotoBold', sans-serif;
  font-size: 13px;
  color: #fff;
  display: block;
  padding: 33px 0;
  transition: color .2s ease-in-out;
}

.nav__link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #00e0d0;
  width: 0;
  height: 1px;
  transition: width .2s ease-in-out;
}

.nav__link:hover:before {
  width: 100%;
}

.nav__link:hover {
  color: #00e0d0;
}

@media screen and (max-width: 801px) {
  .nav__link:hover {
    color: #ffffff;
  }
}

@media screen and (max-width: 801px) {
  .nav__link {
    font-size: 18px;
    padding: 20px 0 20px 30px;
  }
  .nav__link:active:before {
    width: 100%;
    background: #ffffff;
  }
}

/***********
**Slider***
**********/
.hero-title-wrap {
  text-align: center;
  max-width: 771px;
  margin: 0 auto;
}

.hero-title-wrap .slider-container {
  height: 242px;
  overflow: hidden;
}

.hero-title-wrap .slider-container.slick-slider {
  height: auto;
  overflow: auto;
}

.hero-title-wrap .slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 127px;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .hero-title-wrap .slick-dots {
    margin-top: 60px;
  }
}

.hero-title-wrap .slick-dots li:not(:last-child) {
  margin-right: 5px;
}

.hero-title-wrap .slick-dots li.slick-active button {
  border: 1px solid #00e0d0;
  background: #00e0d0;
}

.hero-title-wrap .slick-dots li button {
  content: '';
  font-size: 0;
  padding: 0;
  width: 10px;
  height: 10px;
  background: none;
  border: 1px solid #c2c2c2;
  border-radius: 50%;
  cursor: pointer;
}

.hero__title {
  position: relative;
  padding: 0 0 20px 0;
  font-family: 'PlayfairDisplayBold', sans-serif;
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 0;
  letter-spacing: 0.5px;
  display: inline-block;
}

@media screen and (max-width: 850px) {
  .hero__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .hero__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 450px) {
  .hero__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 360px) {
  .hero__title {
    font-size: 16px;
  }
}

.hero__title:after, .hero__title:before {
  content: '';
  position: absolute;
  width: 5%;
  height: 1px;
  background: #00e0d0;
  bottom: 0;
}

.hero__title:before {
  right: 50%;
}

.hero__title:after {
  left: 50%;
}

.hero__descr {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-family: 'RobotoLight', sans-serif;
  margin-bottom: 47px;
  letter-spacing: 0.69px;
}

@media screen and (max-width: 850px) {
  .hero__descr {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .hero__descr {
    font-size: 12px;
  }
}

@media screen and (max-width: 360px) {
  .hero__descr {
    font-size: 10px;
  }
}

/**************
**Our story****
***************/
.about-wrap {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 69px 0;
}

@media screen and (max-width: 768px) {
  .about-wrap {
    padding: 0 20px;
  }
}

.about__logo {
  width: 38%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .about__logo {
    text-align: left;
  }
}

@media screen and (max-width: 710px) {
  .about__logo {
    display: none;
  }
}

.about__story {
  width: 62%;
  padding-left: 45px;
}

@media screen and (max-width: 900px) {
  .about__story {
    padding-left: 0;
  }
}

@media screen and (max-width: 710px) {
  .about__story {
    width: 100%;
    text-align: center;
  }
}

.about__story-title {
  font-family: "PlayfairDisplayBold", sans-serif;
  color: #403d4b;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
  padding: 0;
}

.about__story-descr {
  padding: 0;
  font-family: "RobotoLight", sans-serif;
  color: #403d4b;
  font-size: 14px;
  line-height: 22px;
  margin: 14px 0 27px 0;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 451px) {
  .about__story-descr {
    font-size: 12px;
  }
}

/************
****Video****
************/
.video {
  width: 100%;
  min-height: 550px;
  background: url("../img/video_background.jpg");
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-bottom: 68px;
}

.video-container {
  margin: auto;
  text-align: center;
}

.video__title {
  padding: 0;
  margin: 34px 0 0 0;
  font-family: 'RobotoBold', sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
}

/************
*Expertise****
************/
.expertise__list-wrapper {
  overflow: hidden;
  margin: 41px auto 52px auto;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .expertise__list-wrapper {
    width: 640px;
  }
}

@media screen and (max-width: 700px) {
  .expertise__list-wrapper {
    width: 320px;
  }
}

.expertise__list {
  list-style: none;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -2px -1px 0;
}

.expertise__item {
  width: 320px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  padding: 40px 30px;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.expertise__title {
  padding: 0;
  margin: 31px 0 17px 0;
  font-family: 'RobotoBold', sans-serif;
  color: #413d4b;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.expertise__descr {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(51, 51, 51, 0.75);
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.7px;
  margin: 0;
}

/************
*****Team****
************/
.team {
  background: url("../img/background.jpg");
  background-size: cover;
  width: 100%;
  min-height: 712px;
  position: relative;
  margin-top: 4px;
  padding: 69px 0 0 0;
}

@media screen and (max-width: 1000px) {
  .team {
    padding-bottom: 40px;
  }
}

.team__list {
  list-style: none;
  margin: 45px 0 70px 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.team__item {
  border: 1px solid rgba(124, 120, 144, 0.5);
  width: 223px;
  height: 307px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

.team__item .team__item-link:after {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
}

.team__item:hover .team__item-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2) url("../img/eye_white.svg") center center no-repeat;
  transition: left .3s ease-in-out, width .3s ease-in-out;
}

.team__item .team__item-link {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .team__item {
    margin-bottom: 20px;
  }
}

.team__title {
  font-family: 'RobotoBold', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 16px 0 8px 0;
  margin: 0;
}

.team__descr {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(250, 250, 250, 0.7);
  font-size: 13px;
  margin: 0;
}

.team__join-us {
  font-family: 'RobotoLight', sans-serif;
  text-align: center;
  color: #f3f3f3;
  font-size: 14px;
  margin-bottom: 28px;
  letter-spacing: 0.8px;
}

/************
*****Works***
************/
.works {
  margin: 64px 0 71px 0;
}

.works__title-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.works__title {
  margin: 0;
  padding: 0;
  font-family: 'PlayfairDisplayBold', sans-serif;
  color: #413d4b;
  font-size: 22px;
  text-transform: uppercase;
}

.works__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
  display: block;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 451px) {
  .works__link {
    letter-spacing: 0;
    font-size: 13px;
  }
}

.works__link:after {
  content: "";
  background: url("../img/right.svg") center center no-repeat;
  width: 10px;
  height: 11px;
  display: inline-block;
  margin-left: 10px;
}

.works__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1602px;
  list-style: none;
  padding: 0;
  margin: 68px auto 73px auto;
}

.works__item {
  position: relative;
}

.works__item .works__item-link:after {
  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
}

.works__item:hover .works__item-link:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 224, 208, 0.2) url("../img/eye_white.svg") center center no-repeat;
  transition: left .3s ease-in-out, width .3s ease-in-out;
}

.works__item-link {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 0;
}

/**************
**People say***
***************/
.people-say {
  width: 100%;
  min-height: 500px;
  background: url("../img/background.jpg");
  background-size: cover;
  text-align: center;
  padding: 85px 0 62px 0;
}

.people-say__title {
  display: block;
  font-family: 'PlayfairDisplayRegular', sans-serif;
  color: #ffffff;
  font-size: 100px;
  line-height: 45px;
  margin-bottom: 4px;
}

@media screen and (max-width: 840px) {
  .people-say__title {
    font-size: 80px;
  }
}

.people-say__descr {
  padding: 0;
  margin: 0 auto 40px auto;
  max-width: 770px;
  font-family: 'PlayfairDisplayRegular', sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.45px;
}

@media screen and (max-width: 840px) {
  .people-say__descr {
    padding: 0 20px;
    font-size: 14px;
  }
}

.people-say__name, .people-say__job {
  display: block;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 22px;
}

.people-say__name {
  font-size: 14px;
  font-family: 'RobotoBold', sans-serif;
}

@media screen and (max-width: 840px) {
  .people-say__name {
    font-size: 12px;
  }
}

.people-say__job {
  font-size: 13px;
  font-family: 'RobotoLight', sans-serif;
  margin-bottom: 40px;
}

@media screen and (max-width: 840px) {
  .people-say__job {
    font-size: 12px;
  }
}

.people-say__slider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 395px;
  margin: 0 auto;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 450px) {
  .people-say__slider {
    width: 320px;
  }
}

@media screen and (max-width: 340px) {
  .people-say__slider {
    width: 300px;
  }
}

@media screen and (max-width: 330px) {
  .people-say__slider {
    width: 150px;
  }
}

.people-say__slider__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 397px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 330px) {
  .people-say__slider__list {
    display: none;
  }
}

.people-say__img {
  border-radius: 50%;
}

.people-say__slider-prev, .people-say__slider-next {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.people-say__slider-prev {
  background: url("../img/back.svg") center center no-repeat;
  margin-right: 20px;
}

.people-say__slider-next {
  background: url("../img/next.svg") center center no-repeat;
  margin-left: 20px;
}

/***********
**Contact***
************/
.news {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  margin: 66px auto 70px auto;
}

.contact-us {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-right: 10px;
}

.contact-us--textarea {
  padding-bottom: 22px;
}

@media screen and (max-width: 801px) {
  .contact-us {
    width: 100%;
    padding: 0 20px;
  }
}

.contact-us__input {
  margin-bottom: 21px;
  padding: 15px 0 13px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'RobotoLight', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
}

.contact-us__input--textarea {
  padding-bottom: 18px;
}

.contact-us__input::-webkit-input-placeholder {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
}

.contact-us__input::-moz-placeholder {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
}

.contact-us__input:-moz-placeholder {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
}

.contact-us__input:-ms-input-placeholder {
  font-family: 'RobotoLight', sans-serif;
  color: rgba(65, 61, 75, 0.5);
  font-size: 14px;
}

.client {
  width: 50%;
  padding-left: 90px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
}

@media screen and (max-width: 1041px) {
  .client {
    padding-left: 45px;
  }
}

@media screen and (max-width: 900px) {
  .client {
    padding-left: 30px;
  }
}

@media screen and (max-width: 801px) {
  .client {
    display: none;
  }
}

.client__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client__list--1 {
  margin-right: 78px;
}

@media screen and (max-width: 1041px) {
  .client__list--1 {
    margin-right: 60px;
  }
}

@media screen and (max-width: 900px) {
  .client__list--1 {
    margin-right: 30px;
  }
}

.client__item {
  margin-bottom: 43px;
}

/***********
**Footer***
************/
.footer {
  background: url("../img/footer_background.jpg");
  background-size: cover;
  width: 100%;
  padding: 70px 0;
}

@media screen and (max-width: 600px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

@media screen and (max-width: 822px) {
  .footer__wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .footer__wrapper {
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

.footer__column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 33.33%;
}

@media screen and (max-width: 822px) {
  .footer__column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .footer__column {
    width: 100%;
  }
}

.footer__column:last-child {
  padding-left: 23px;
}

@media screen and (max-width: 850px) {
  .footer__column:last-child {
    padding-left: 0;
  }
}

@media screen and (max-width: 822px) {
  .footer__column--logo {
    display: none;
  }
}

.footer__text {
  display: block;
  font-family: 'RobotoLight', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0;
  text-decoration: none;
}

.footer__text--column1 {
  margin: 17px 0 66px 0;
  padding-right: 36px;
}

.footer__text--adress {
  margin: 27px 0 12px 5px;
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .footer__text--adress {
    margin: 15px 0 12px 5px;
  }
}

.footer__text--copyright {
  font-family: 'RobotoRegular', sans-serif;
  text-align: right;
  letter-spacing: 0.4px;
  margin-top: 63px;
}

@media screen and (max-width: 900px) {
  .footer__text--copyright {
    margin-top: 88px;
    font-size: 13px;
  }
}

@media screen and (max-width: 822px) {
  .footer__text--copyright {
    text-align: center;
    margin-top: 30px;
  }
}

.map-svg, .phone-svg {
  width: 20px;
  height: 20px;
  padding: 0 5px;
}

.map-svg {
  background: url("../img/map.svg") center center no-repeat;
  margin: 30px 10px 0 7px;
}

@media screen and (max-width: 600px) {
  .map-svg {
    margin: 20px 10px 0 7px;
  }
}

.phone-svg {
  background: url("../img/phone.svg") center center no-repeat;
  display: inline-block;
  width: 37px;
}

.footer__help-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__help-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'RobotoRegular', sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
}

.footer__help-link:hover {
  color: #00e0d0;
}

.footer__title {
  font-family: 'RobotoBold', sans-serif;
  margin: 13px 0 0 0;
  padding: 0;
  color: #ffffff;
  font-size: 15px;
  line-height: 26px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .footer__title {
    text-align: center;
  }
}

.footer__adress-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__adress-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.subscribe {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  margin: 31px 0 27px 0;
}

@media screen and (max-width: 600px) {
  .subscribe {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .footer__column--stay-in-touch {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__input {
  width: 211px;
  height: 45px;
  margin-right: 10px;
  padding-left: 17px;
  letter-spacing: 0.4px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1000px) {
  .subscribe__input {
    margin-right: 5px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 900px) {
  .subscribe__input {
    padding-left: 5px;
    font-size: 12px;
  }
}

@media screen and (max-width: 822px) {
  .subscribe__input {
    font-size: 14px;
  }
}

.subscribe__btn {
  width: 70px;
  height: 45px;
  border: none;
  background: rgba(255, 255, 255, 0.5) url("../img/paper.svg") center center no-repeat;
  font-size: 24px;
  cursor: pointer;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social__item {
  margin-right: 8px;
  text-align: center;
}

.social__link {
  display: block;
  width: 35px;
  height: 35px;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.social__image-facebook {
  background: url(../img/facebook.svg) center center no-repeat;
}

.social__image-twitter {
  background: url(../img/twitter.svg) center center no-repeat;
}

.social__image-dribbble {
  background: url(../img/dribbble.svg) center center no-repeat;
}

.social__image-instagram {
  background: url(../img/instagram.svg) center center no-repeat;
}

.social__image-google {
  background: url(../img/google.svg) center center no-repeat;
}

.social__image-youtube {
  background: url(../img/youtube.svg) center center no-repeat;
}
