.about-wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.about__logo {
  width: 390px;
  margin: 0 auto;
}

.about__story {
  width: 570px;
  padding-left: 20px;
}

.about__story-title {
  font-family: "PlayfairDisplayBold", sans-serif;
  color: #403d4b;
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0;
}

.about__story-descr {
  padding: 0;
  margin: 0;
  font-family: "RobotoLight", sans-serif;
  color: #403d4b;
  font-size: 14px;
  line-height: 22px;
}

.about__story-descr:not(:last-child) {
  margin-bottom: 30px;
}
