$main-color: #00e0d0;
$container-width: 960px;

* {
    box-sizing: border-box;
}

body,
html {
    min-height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'RobotoRegular', sans-serif;
    font-size: 14px;
}

.maincontent {
    flex: 1 0;
}

.container {
    width: $container-width;
    margin: 0 auto;

    @include large{
        width: 960px;
    }

    @include responsive(1000px){
        width: 860px;
    }

    @include responsive(900px){
        width: 750px;
    }

    @include responsive(800px){
        width: 650px;
    }


    @include small{
        width: auto;
    }
}

.button {
    display: block;
    margin: 0 auto;
    text-decoration: none;
    padding: 10px;
    @include size(118px, 38px);
    border: 1px solid $main-color;
    border-radius: 2px;
    color: $main-color;
    background: none;
    font-family: 'Hammersmithone', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;

    @include small {
        @include size(112px, 32px);
        font-size: 14px;
    }

    @include responsive(360px){
        @include size(90px, 30px);
        font-size: 12px;
    }
    &:hover {
        border: 1px solid #ffffff;
        color: #ffffff;

        @include small {
            border: 1px solid $main-color;
            color: $main-color;
            &:active{
                border: 1px solid #ffffff;
                color: #ffffff;
            }
        }
    }

    &--left {
        margin: 0;
        @include responsive(710px) {
            margin: 0 auto;
        }
    }
    &--long {
        width: 138px;
        @include small{
            width: 125px;
        }
    }
    &--white-background {
        &:hover {
            color: #413d4b;
            border: 1px solid #413d4b;

            @include small {
                border: 1px solid $main-color;
                color: $main-color;

                &:active{
                    color: #413d4b;
                    border: 1px solid #413d4b;
                }
            }
        }
    }
}

.section-title-wrap {
    text-align: center;
    max-width: 690px;
    margin: 0 auto;
}

.section__title {
    margin: 0;
    padding: 0;
    font-family: 'PlayfairDisplayBold', sans-serif;
    color:  #413d4b;
    font-size: 22px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include exSmall{
        font-size: 18px;
        letter-spacing: 0;
    }
    &--team{
        color: #ffffff
    }
    &--contact-us{
        margin-bottom: 35px;
    }
}

.section__descr {
    color:  rgba(47, 45, 53, 0.75);
    font-size: 14px;
    font-family: 'PlayfairDisplayRegular', sans-serif;
    position: relative;
    padding: 10px 0 20px 0;
    margin: 0;
    letter-spacing: 1px;

    @include responsive(450px){
        letter-spacing: 0;
        font-size: 13px;
    }
    &:after, &:before {
        content: '';
        position: absolute;
        width: 4%;
        height: 2px;
        background: rgba(65, 61, 75, 0.3);
        bottom: 0;
    }
    &:before{
        right: 50%;
    }
    &:after{
        left: 50%;
    }
    &--team{
        color:  #f9f9f9;
        &:after, &:before{
            background:  rgba(255, 255, 255, 0.2);
        }
    }
}

.hover-overlay-params {
    position: absolute;
    left: 0;
    top: 0;
    @include size(100%, 100%);
    background:rgba(14, 180, 147, 0.9);
    padding: 20px;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background: rgba(0, 0, 0, .4);
}

.overlay--active {
    display: block;
}

.body-fixed{
    overflow: hidden;
    width: 100%;
    height: 100%;
}