/***********
**Hero***
**********/

.hero {
    min-height: 670px;
    position: relative;
    background: url("../img/background.jpg");
    background-size: cover;

    @include small{
        min-height: 620px;
    }
}

.hero__content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 225px;

    @include responsive(800px){
        width: 100%;
    }
}

/***********
**Header***
**********/

.header {
    background: transparent;
    width: 100%;

    @include responsive(801px){
        padding: 20px 0;
    }
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.logo__link {
    display: block;
}

/***********
**Navigation***
**********/

.menu-btn{
    padding: 0;
    background: none;
    border: none;
    outline: none;
    @include size(40px, 40px);
    @include flexCenter;
    display: none;

    @include responsive(801px){
        display: flex;
    }
}

.nav{
    transition: transform .2s ease-in-out;
    z-index: 99;
    @include responsive(801px){
        will-change: transform;
        position: fixed;
        top: 0;
        left: 0;
        @include size(230px, 100vh);
        background: $main-color;
        transform: translateX(-100%);
    }
}

.nav--active{
    @include responsive(801px){
        transform: translateX(0);
    }
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    @include responsive(801px){
        flex-flow: column nowrap;
    }
}

.nav__item {
    &:not(:last-child) {
        margin-right: 26px;

        @include responsive(801px){
            margin: 0 0 10px 0;
        }
    }
}

.nav__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'RobotoBold', sans-serif;
    font-size: 13px;
    color: #fff;
    display: block;
    padding: 33px 0;
    transition: color .2s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        background: $main-color;
        width: 0;
        height: 1px;
        transition: width .2s ease-in-out;
    }

    &:hover:before {
        width: 100%;
    }

    &:hover {
        color: $main-color;

        @include responsive(801px){
            color: #ffffff;
        }
    }

    @include responsive(801px){
        font-size: 18px;
        padding: 20px 0 20px 30px;

        &:active:before{
            width: 100%;
            background: #ffffff;
        }
    }
}

/***********
**Slider***
**********/

.hero-title-wrap {
    text-align: center;
    max-width: 771px;
    margin: 0 auto;
    & .slider-container{
        height: 242px;
        overflow: hidden;
    }
    & .slider-container.slick-slider{
        height: auto;
        overflow: auto;
    }

    .slick-dots{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 127px;
        justify-content: center;

        @include small{
            margin-top: 60px;
        }
        & li{
             &:not(:last-child) {
                 margin-right: 5px;
             }
             &.slick-active{
                 & button{
                     border: 1px solid $main-color;
                     background: $main-color;
                 }
             }
             & button{
                 content: '';
                 font-size: 0;
                 padding: 0;
                 @include size(10px, 10px);
                 background: none;
                 border: 1px solid #c2c2c2;
                 border-radius: 50%;
                 cursor: pointer;
             }
         }
    }
}

.hero__title {
    position: relative;
    padding: 0 0 20px 0;
    font-family: 'PlayfairDisplayBold', sans-serif;
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 0;
    letter-spacing: 0.5px;
    display: inline-block;

    @include responsive(850px){
        font-size: 28px;
    }

    @include small{
        font-size: 24px;
    }

    @include responsive(450px){
        font-size: 20px;
    }

    @include responsive(360px){
        font-size: 16px;
    }

    &:after, &:before {
        content: '';
        position: absolute;
        width: 5%;
        height: 1px;
        background:#00e0d0;
        bottom: 0;
    }
    &:before{
        right: 50%;
    }

    &:after{
        left: 50%;
    }
}

.hero__descr {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    font-family: 'RobotoLight', sans-serif;
    margin-bottom: 47px;
    letter-spacing: 0.69px;

    @include responsive(850px){
        padding: 0 20px;
    }

    @include small{
        font-size: 12px;
    }

    @include responsive(360px){
        font-size: 10px;
    }
}


