/**
*
* Basic page needs
*
**/
@import "imports/fonts";
@import "misc/mixins";
@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import "../libs/normalize/normalize";
@import "misc/mixins";

/**
*
* Adjustment settings
*
**/

@import "imports/adjustment";


/**
*
* Layout
*
**/

@import "imports/hero";
@import "imports/maincontent";
@import "imports/footer";
